<p>Ask your coach anything</p>
    <div class="row">
      <div class="col">
        <form class="form-inline" action="/answer" method="get" data-turbo="false">
          <div class="input-group inline-form">
            <input type="text" name="yourAnswer" class="form-control">
            <div class="input-group-append">
              <input type="submit"class="btn btn-primary" value="Ask">
            </div>
          </div>
        </form>
      </div>
    </div>
